<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+33 6 13 07 82 92<br>
								<a href="mailto:#">some.email@somewhere.com</a><br>
								<br>
								16, rue édouard vaillant, 76610 Le Havre
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Suivez-nous</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Nous soutenir</h3>
						<div class="widget-body">
							<p>Ensemble, nous avons le pouvoir de transformer des vies et bâtir un monde meilleur.Rejoignez-nous dans cette noble cause et faites un don qui fera une réelle deférence.Votre contribution sera utilisée de manière responsable et transparente.</p>
							<p>Aidez-nous à allumer une flamme d'espoir dans le coeur des personnes vulnérables.Faites un don dès maintenant sur notre site web ou contactez-nous pour en savoir plus sur d'autres façons d'aider.Merci pour votre soutien et votre amour envers vos frères et soeurs du monde entier.<br>Ensemble, changeons le monde !</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="{{path('app_home')}}">Accueil</a> | 
								<a href="{{path('app_about')}}">À propos de nous</a> |
								<a href="{{path('app_projet')}}">Projet</a> |
								<a href="{{path('app_contact')}}">Contact</a> |
								<b><a href="{{path('app_don')}}">FAIRE UN DON</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	